/node_modules
/public/hot
/public/upload
/public/files
/public/storage
storage/*.key
/storage/files/temps
/storage/logs/
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
/docker-compose.yml
